body {
    background: #CCCCCC;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color:white;
    border: 2px white;
    border-radius: 24px;
    color: #7a7a7a;
    box-shadow: 
    -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }